:root{
    --violet: rgb(150, 38, 150);
    --white: #fff;
    --background: brown;
}
body, ul{
    margin: 0;
    padding: 0;
}
 
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: var(--background);
}
 
a{
    color: var(--white);
}